body{
    font-family: 'Roboto Mono', monospace;
    margin: o;
}
h1{
    font-size: 50px;
    border-left: 3px solid rgb(223, 67, 67);
    border-radius: 4px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
}
h4{
    text-align: center;
    font-size: 40px;
    color: rgb(87, 37, 134);
}
span{
color: rgb(108, 218, 108);
}
.section-type{
   display: flex;
   width: 80%;
   margin: 0 auto;
}
.half-width{
    width: 50%;
    margin:50px;
}
.half-width img{
    width: 65%;
}
a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
background-color: coral;
    padding: 10px 40px;
}
.section2{
    text-align: center;
    margin-top: 70px;
}
.parent-div{
    display:flex;
    justify-content: space-around;
}
.section-div1{
width: 250px;
background-color:#9ee4e4 ;
border: 1px solid gray;
box-shadow: 4px 4px 10px gray;
border-radius: 8px;

}
.div-img img{
    width: 100%;
}
.section-div2{
    width: 250px;
    background-color: RGB(247, 202, 201);
    border: 1px solid gray;
    box-shadow: 4px 4px 10px gray;
    border-radius: 8px;
}
.section-div3{
    width: 250px;
    background-color: RGB(136, 176, 75);
    border: 1px solid gray;
    box-shadow: 4px 4px 10px gray;
    border-radius: 8px;
}

.last-div{
    background-color: black;
    height: 160px;
}
footer{
    color: blanchedalmond;
    text-align: center;
}